html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #FEF6DF;
    overflow-x: hidden;
}

.page_landing {
    width: 100vw;
    min-height: 100vh;
    background-color: #FEF6DF;
    position: relative;
    z-index: 0;
    margin: 0;
}

.header_landing {
    position: sticky !important;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FEF6DF;
    z-index: 5;
    border-bottom: 3px solid #955C2E;

}

.header img {
    width: 15%;
    align-items: center;
    margin: 20px 20px;
}

.header_opt {
    display: flex;
    gap: 40px;
    margin-right: 30px;
    color: #955C2E;
    font-weight: 600;
    font-size: 1.6rem;
    align-items: center;
}

.header_opt p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.btn_login {
    background-color: #955C2E;
    color: #ffffff;
    border: none;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    height: 40%;
}

.landing_child {
    margin-top: 3%;
}

.prambanan img {
    position: absolute;
    width: 60%;
    height: auto;
    left: -15%;
    z-index: -3;
}

.bg_green {
    position: absolute;
    width: 100vw;
    z-index: -2;
    top: 13%;
}

.bg_green img {
    width: 100%;
    height: auto;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.hero_img {
    width: 100%;

}

.hero_img img {
    width: 85%;
    height: auto;
    padding-left: 70px;
    padding-right: 20px;
}

.hero_text {
    padding-bottom: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 10%;
}

.hero_text h1 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    width: 100%;
    color: #967C66;
    margin-top: 15px;
    margin-bottom: 20px;
}



.about_us {
    top: 120%;
    margin: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}

.about_us h1 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    width: 50%;
    font-size: 4rem;
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 20px;
}

.about_us p {
    font-family: 'ADLaM Display', sans-serif;
    color: #ffffff;
    font-weight: 100;
    width: 60%;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 1.5rem;
}

.about_us img {
    width: 40%;
    margin-right: 100px;
}


.features {
    display: flex;
    justify-content: center;
    margin: 400px auto 80px;
    max-width: 1000px;
    text-align: center;
}

.features_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 100px;
}


.features_title {
    font-family: "Fredoka", sans-serif;
    font-weight: 700;
    font-size: 2.6rem;
    background-color: #955C2E;
    color: #ffffff;
    border-radius: 20px;

    padding: 16px 56px;
    max-width: 420px;
    width: auto;

    margin: 0 auto;
}



.bg_brown {
    position: absolute;
    width: 100vw;
    z-index: -2;
}

.bg_brown img {
    width: 100%;
    height: auto;
}

.contact {
    margin: 50px;
    margin-top: 20%;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
}

.contact h1 {
    font-weight: 600;
    width: 50%;
    font-size: 4rem;
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 20px;
}

.contact p {
    font-family: 'ADLaM Display', sans-serif;
    color: #ffffff;
    font-weight: 100;
    width: 60%;
    margin-top: 15px;
    font-size: 1.5rem;
}

.contact_text_3 {
    display: flex;
    align-items: center;
    align-self: center;
    gap: 20px;
    margin-top: 50px;

}